*{
  font-family: 'Roboto Condensed', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background-color: #B3DCEA;
}

nav ul{
  margin: 0;
  padding: 0;
  padding-top: 200px;
  text-align: center;
}
nav ul li{
  list-style: none;
  display: inline;
  font-size: 20px;
  padding: 0 20px;
  font-weight: bold;
}

nav ul li a{
  text-decoration: none;
  color: #5B5C5C;
}

nav ul li a:hover{
  color: #3D3D3D;
}

span{
  border-radius: 50%;
  border: 3px solid #d50000;
  color: #d50000;
  font-size: 17px;
  font-weight: 00;
  width: 40px;
  height: 40px;
  line-height: 37px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.header img{
  height: 150px;
  width: auto;
  position: fixed;
  top: 15%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
